<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kalaathon.aircraftassetmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AircraftAssetManagement">
        <activity android:name=".Past_records"></activity>
        <activity android:name=".Verify_profiles" />
        <activity android:name=".Manager_dashborad" />
        <activity android:name=".Manager_login" />
        <activity android:name=".UpdateQr" />
        <activity android:name=".NewJoinee" />
        <activity android:name=".scan" />
        <activity android:name=".MroLogin" />
        <activity android:name=".ChoosePost" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>